
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>




<body>
    <div class="jumbotron text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width:15%">
       <h2>BAYİ SEPETİ</h2>
       <h2>Bİr Şİrketten Daha Fazlası </h2>
    </div>
</body>
  
  <!-- Container (About Section) -->  
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-3">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>Bİlmek istediklerİnİz</h2>
        <h4>BayiSepeti Türkiye genelindeki bayilere toptan ürünler tedarik eden güvenilir bir şirkettir. Kurulduğu yıldan bu yana kaliteli ürünleri, rekabetçi fiyatları ve müşteri memnuniyetine odaklanmış hizmet anlayışıyla bilinir. Geniş ürün yelpazesi içerisinde gıda, elektronik, tekstil, kozmetik ve daha birçok sektöre ait ürünler bulunur. Şirket, müşteri memnuniyetini ön planda tutarak, bayilere özel promosyonlar, hızlı teslimat hizmetleri ve satış sonrası destek sağlamak için çaba gösterir. Kaliteli ürünleri uygun fiyatlarla sunarak, bayilerin rekabet avantajını artırmalarına yardımcı olur. Aynı zamanda, yenilikçi ve sürdürülebilir ürünleriyle çevre dostu bir firma olarak da tanınır. Şirketin güçlü lojistik ağı, zamanında teslimatı garanti eder ve müşterilerinin iş süreçlerini daha verimli hale getirmelerine olanak tanır. Geniş müşteri portföyü ve sektördeki güçlü konumuyla, şirket sektörün liderleri arasında yer alır ve bayilerin başarılı işler yapmalarına katkı sağlar.</h4>
      </div>
    </div>
  </div>
  
  <!-- Container (Services Section) -->
  <div class="container-fluid text-center">
    <h2>Servİslerİmİz</h2>
    <h4>Bayiliklerimize neler sunar</h4>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-off logo-small"></span>
        <h4>GÜÇ</h4>
        <p>Güçlü bir ekip ve teknik uzmanlık..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-heart logo-small"></span>
        <h4>SEVGİ</h4>
        <p>Siparişlerinize duyduğumuz tutku ve özen..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-lock logo-small"></span>
        <h4>HIZLI</h4>
        <p> Zamanında ve eksiksiz tamamlamak..</p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf logo-small"></span>
        <h4>YEŞİL</h4>
        <p>Çevre dostu çözümler..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <h4>SERTİFİKALI</h4>
        <p>Uluslararası standartlara uygun..</p>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-wrench logo-small"></span>
        <h4 style="color:#303030;">ÇALIŞKANLIK</h4>
        <p>Yenilikçi ve yaratıcı çözümler sunarız..</p>
      </div>
    </div>
  </div>
  
  <!-- Contact -->
  <!-- <div class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Bizimle iletişime geçin, 24 saat içinde size geri döneceğiz.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Türkiye</p>
        <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->