<div class="container align-middle"> 
<div class="card">
    <div class="title">BayiSepeti Makbuz</div>
    <div class="title">Bizi Tercih Ettiğiniz İçin Teşekkür Ederiz </div>
   
    <div class="info">
        <div class="row">
           
            <div class="col-5 pull-right">
                <span id="heading">Sipariş Numarası</span><br>
                <span id="details">*Admin Onayından Sonra Belirlenecektir*</span>
            </div>
        </div>      
    </div>      
   
    <div class="total">
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="tracking">
        <div class="title">Sipariş Takibi</div>
    </div>
   
    <div class="progress-track">
        <ul id="progressbar">
            <li class="step0 active " id="step1">Ödeme yapıldı</li>
            
            <li class="step0  text-center" id="step2">Admin onayı</li>
            <li> </li>
            <li class="step0 text-right" id="step3">Teslim edildi</li>
        </ul>
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-2"><img class="img-fluid" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"></div>
            <div class="col-10">
                <div> <a routerLink="/Bayipage/1" class="cancel com-color">Alışverişe Devam Et</a></div>      
        </div> 
    </div>
</div>

</div>


